.header__container {
    min-height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 20px;
    top: 0;
    left: 0;
    justify-content: space-between;
    right: 0;
    z-index: 1;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.menu p {
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 10px;
    flex-wrap: nowrap;
    /* display: flex; */
}

.right__menu a {
    font-weight: 600;
    /* display: flex; */
    text-transform: uppercase;
    padding: 0 10px;
    flex-wrap: nowrap;
    margin-right: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.hamburger {
    font-size: 30px;
    /* padding-top: 10px; */
    cursor: pointer;
}


/* .burger__nav li {
    padding: 15px 0;
    border-bottom: rgba(0, 0, 0, 0.1);
    color: red;
} */

.bugger__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 300px;
    list-style: none;
    padding: 20px;
    z-index: 16;
    display: flex;
    flex-direction: column;
    transform: translateY(-5px);
    transition: transform 0.2s ease-in;
    /* display: block; */
}

.burger__li li {
    /* color: red; */
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 600px;
    cursor: pointer;
}

.close_side_nav {
    display: flex;
    justify-content: flex-end;
}

.close_side_nav i {
    font-size: 30px;
    cursor: pointer;
}


/* media query */

@media (max-width: 768px) {
    .menu p {
        display: none;
    }
}